RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)/image-([0-9]+)$ index.php?url=$1&image_id=$2 [L,QSA]
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]


##RewriteRule ^(.*)/main/image-([0-9]+)$ index.php/main?image_id=$2 [L]
##RewriteRule .* index.php [L]